<!-- PAGE FOOTER -->
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white">All rights reserved © 2014-2015</span>
				</div>

				<div class="col-xs-6 col-sm-6 text-right hidden-xs">
					<div class="txt-color-white inline-block">
						<i class="txt-color-blueLight hidden-mobile">  <strong> &nbsp;</strong> </i>
						<div class="btn-group dropup">
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE FOOTER -->
