
<div class="alert alert-success fade in">
<button data-dismiss="alert" class="close" style="cursor: pointer;">
        ×
</button>
<i class="fa-fw fa fa-check"></i>
<strong>Success, </strong> <?php echo $message ?>
</div>


    
 

  
