@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Roboto+Condensed:400,700);
body{margin:0px; padding:0px; font-family: 'Roboto', sans-serif!important; font-size:13px!important; font-weight:400; color:#404040; height:100%;}
.home{background:url(../images/landing_bg.jpg) no-repeat center 0px;}
.toprow{background:#133b71; border-bottom:1px solid #387ad4;}
.signin ul{margin:0px; padding:0px; list-style:none; text-align:right;}
.signin ul li{display:inline-block; padding:5px 10px;}
.signin ul li a{color:#fff;}
.social{padding-top:3px;}
.search{text-align:center; padding-top:100px;}
.search h1{font-family: 'Roboto Condensed', sans-serif; color:#fff; font-size:40px; text-transform:uppercase; font-weight:700; letter-spacing:1px;}
.search input[type='text']{max-width: 600px; width:78%; padding:12px;font-size:16px; border-radius:0px; border:none; height:50px;}
.search-group{max-width:650px; width:100%; margin:0px auto;}
.search .srchbtn{ background:#ffcc00!important; padding:9px 18px; border-radius:0px!important; border:none; position:relative; top:-2px; right:-2px; box-shadow:0 0 0 0!important; height:50px;}
.search .srchbtn:hover{border-color:#ffcc00!important}
.headerwrap{background:#f1f5f8; border-top:solid 3px #2b67bb; border-bottom:solid 1px #e0ecf5; padding-top:25px; padding-bottom:25px;}
.selectdate select{font-size: 14px; max-width: 350px; padding: 11px 12px; width: 80%; border-radius:0px!important;}
.selectdate .srchbtn{ background:#1251a5; color:#fff; text-align:center; padding: 9px 20px; border:none; border-radius:0px!important; text-shadow: 0 0 0!important; box-shadow: 0 0 0!important; position:absolute; right:0px; top:1px;}
.headerright{text-align:right;}
.headerright .menu{margin-top:10px;}
.headerright .menu ul li{ float:none; display:inline-block; margin:0px; padding:0px; }
.headerright .menu ul li a{background:none; color:#000; padding:0px; padding:0px 8px 0px 6px; background:url(../images/li-seprator.gif) no-repeat right center;}
.headerright .menu ul li a:hover{color:#1d68a0;}
.headerright .menu ul li:last-child > a{background:none; padding-right:0px;}
.headerright .menu ul li:first-child > a{padding-left:0px;}
.footerwrap{ background:#f1f5f8; border-top:1px solid #e0ecf5; padding-top:15px; padding-bottom:15px; text-align:center; color:#1d68a0;}
.contentdiv{min-height:430px;}
.pagetitle{font-family: 'Roboto', sans-serif; font-weight:700; font-size:22px;  margin:25px 0px; letter-spacing:1px; padding:0px 15px;}
.formwrap{padding:30px; background:#f1f5f8; border:1px solid #e0ecf5; width:100%; display:table; content:""; clear:both; margin-bottom:20px;}
label{font-weight:400!important; font-size:14px;}
.formwrap .form-group{width:44%; float:left; margin-right:20px;}
.form-group input[type='text'], .form-group input[type='tel'], .form-group input[type='email'], .form-group input[type='password'], .form-group select, .form-group textarea{width:100%; height:40px; padding:5px 10px; background:#fff; border:solid 1px #e8eff4; border-radius:0px; box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset; -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset; -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;}
.form-group textarea{height:120px;}
.form-group select{height:40px!important;}
.cstmbuttons{ display:inline-block; padding:10px 30px!important; background:#ed3333; border-radius:2px; border-bottom:5px solid #c02323!important; text-align:center; color:#fff; font-size:18px; font-weight:700; width:auto; border:none; max-width:250px;}
.cstmbuttons:hover{background:#2782d1; border-radius:2px; border-bottom:5px solid #1560a2!important;}
.bluebx  h2{ margin-top:0px; font-size:18px; font-weight:700;}
p{font-size:13px; font-weight:300; line-height:20px; margin-bottom:15px;}
.loginpage .contentdiv{margin-top:50px;}
.login .form-group{width:100%;}
.login h1{margin-top:0px; text-align:center;}
.dashboardnav{background:#24272a; width:100%; padding-top:50px; min-height:470px;}
.dashboardnav .navbar-default{background-image:none; box-shadow:0 0 0 0; border-radius:0px; background:none; border:none;}
.dashboardnav .navbar-nav > li{float:none; border-bottom:1px solid #2e3134;}
.dashboardnav .navbar-nav > li > a{padding:15px 20px; text-shadow:0 0 0!important; font-size:14px; color:#bdc7cf!important; letter-spacing:0.5px;}
.dashboardnav .navbar-default .navbar-nav > .open > a, .dashboardnav .navbar-default .navbar-nav > .active > a{background:#000;}
.dashboardnav .navbar-default .navbar-nav > .active > a, .dashboardnav .navbar-default .navbar-nav > .active > a:hover, .dashboardnav .navbar-default .navbar-nav > .active > a:focus, .dashboardnav .navbar-default .navbar-nav > li > a:hover{background:#000;}
.dashboardnav .navbar-header{width:100%;}
.dashboardnav .navbar-collapse{padding:0px;}
.dashboardnav .navbar-nav{width:100%;}
.dashboardnav .glyphicon{font-size:18px; top:3px!important; padding-right:15px; color:#81878d;}
.statusbar{background:#f1f5f8; border:solid 1px #e0ecf5;margin-top:5px;margin-bottom: 5px;padding: 7px;}
.statusbar .welcomegst{margin-right:30px;}
.statusbar .logout{color:#e40000;}
.statusbar .btn{font-size:12px; padding:4px 10px; float:right;}
.statusbar .glyphicon-plus{margin-right:5px;}
.thumbs{display:table; content:""; clear:both; width:100%;}
.statusbar .pagetitle{padding:0px;}
.thumbs .thmb:hover{color:#165ea2; text-decoration:none;}
.thumbs .thmb img{margin-bottom:10px;}
.dashboard .contentrwrap{margin-bottom:0px;}
.thumbs .thmb{display:block; background:#f1f5f8; border:solid 1px #e0ecf5; text-align:center; padding-bottom:35px; padding-top:35px; font-size:14px; font-weight:600; text-transform:uppercase; color:#1f2225; letter-spacing:0.5px;}
.thumbs .tmbbx{margin:10px 0px;}
.visible-xs{text-shadow:0 0 0!important;}
.navbar-default .navbar-toggle{border:none;}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff!important;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background:#c4322e!important;}
.addpro .pagetitle{clear:both; margin-bottom:15px; padding:20px 0px 0px 0px;}
.addproduct .fulbx{width:91%;}
.group-span-filestyle .btn-default{line-height:24px;}
.clearfix{clear:both;}

.headerfrm input[type='text']{width:100%;}
.datepickerbox .checkin{width:49%; float:left; margin-right:2%;}
.datepickerbox .checkin input, .datepickerbox .checkout input{
    border: 1px solid #e8eff4;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 40px;
    width: 100%;}
.datepickerbox .checkout{width:49%; float:left;}
.datepickerbox .checkin input{background:url(../images/checkin.gif) no-repeat 8px 8px #fff; padding-left:76px;}
.datepickerbox .checkout input{background:url(../images/checkout.gif) no-repeat 8px 8px #fff; padding-left:76px;}
.headerfrm{margin-bottom:10px!important; position:relative;}
.searcheaderwrap .logo{margin-bottom:10px;}

.ui-widget-header{background:#f1f5f8!important; border:solid 1px #cde0ee!important;}
.ui-widget-content{border:solid 1px #cde0ee!important;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br, .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl, .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{border-radius:0px!important;}
#ui-datepicker-div{margin-top:5px;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background: rgb(241,245,248)!important; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(241,245,248,1) 0%, rgba(241,245,248,1) 54%, rgba(230,237,242,1) 54%, rgba(230,237,242,1) 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,245,248,1)), color-stop(54%,rgba(241,245,248,1)), color-stop(54%,rgba(230,237,242,1)), color-stop(100%,rgba(230,237,242,1)))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(241,245,248,1) 0%,rgba(241,245,248,1) 54%,rgba(230,237,242,1) 54%,rgba(230,237,242,1) 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(241,245,248,1) 0%,rgba(241,245,248,1) 54%,rgba(230,237,242,1) 54%,rgba(230,237,242,1) 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(241,245,248,1) 0%,rgba(241,245,248,1) 54%,rgba(230,237,242,1) 54%,rgba(230,237,242,1) 100%)!important; /* IE10+ */
background: linear-gradient(to bottom,  rgba(241,245,248,1) 0%,rgba(241,245,248,1) 54%,rgba(230,237,242,1) 54%,rgba(230,237,242,1) 100%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f5f8', endColorstr='#e6edf2',GradientType=0 )!important; /* IE6-9 */
border:solid 1px #dbe8f1!important;}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background:#fff!important; border:0px!important;} 
.skibtn{background:#ed3333 !important; box-shadow:0px 0px 0px!important;  margin:0px 10px; border-radius:3px!important; border-right:none!important; border-left:none!important; border-top:none!important; max-width:300px; width:100%; font-size:26px!important; text-transform:uppercase; color:#fff!important; font-weight:700!important; text-shadow:0 0 0!important; }
.skibtn:hover{background:#2782d1!important;}
.skiicon {
  background:#e62b2c;
  border-radius: 100%;
  display: inline-block;
  height: 54px;
  padding: 7px;
  width: 54px;
  margin-right:10px;
-webkit-box-shadow: inset 0px 2px 4px -2px rgba(61,61,61,1), 0px 2px 4px -2px rgba(255,110,111,1);
-moz-box-shadow: inset 0px 2px 4px -2px rgba(61,61,61,1), 0px 2px 4px -2px rgba(255,110,111,1);
box-shadow: inset 0px 2px 4px -2px rgba(61,61,61,1), 0px 2px 4px -2px rgba(255,110,111,1);
}

.skibtn:hover > .skiicon{
background:#2782d1;
-webkit-box-shadow: inset 0px 2px 4px -2px rgba(61,61,61,1), 0px 2px 4px -2px rgba(99,181,252,1);;
-moz-box-shadow: inset 0px 2px 4px -2px rgba(61,61,61,1), 0px 2px 4px -2px rgba(99,181,252,1);
box-shadow: inset 0px 2px 4px -2px rgba(61,61,61,1), 0px 2px 4px -2px rgba(99,181,252,1);
}

.categoriesbx{text-align:center;}
.choice{padding:15px 30px!important; max-width:200px;}
.whtsize{max-width:440px; margin:20px auto;}
.whtsize select{width:100%; max-width:330px; border:1px solid #deebf4; background:#f1f5f8; padding:6px;}
.whtsize label{font-weight:700!important; font-size:18px; margin-right:8px;}
.skifrwrap h2 a{font-size:24px; text-transform:uppercase; color:#fff; font-weight:700; width:100%; text-align:center; padding:10px 0px; display:block;}
.skifrwrap h2 a:hover{color:#202020; text-decoration:none;}
.advancwrap h2 a:hover{color:#818181; text-decoration:none;}
.skifrwrap p{text-align:left;}
.skifrwrap .begnrsbx{margin-bottom:10px;}
.begnrswrap h2{background:#00a159; border-bottom:1px solid #00c36c; margin:0px;}
.interwrap h2{background:#02a2d6; border-bottom:1px solid #06c2ff; margin:0px;}
.advancwrap h2{background:#000000; border-bottom:1px solid #414141; margin:0px;}
.skifrwrap .skiforimg{padding:18px 18px 25px;}
.begnrswrap .skiforimg{background:#00b162;}
.interwrap .skiforimg{background:#00afe8;}
.advancwrap .skiforimg{background:#2d2d2d;}
.skifrwrap img{border:solid 10px #fff; width:100%; max-width:200px;}
.skifrwrap{float:none; display:inline-block;}
.centerpagetitle{font-size:26px; text-transform:uppercase;}
.recomendedbx{background:#f1f5f8; border:solid 1px #e0ecf5; display:table; padding:15px 0px; text-align:left; margin-bottom:15px;}
.recomendedbx h2{margin-top:10px;}
.recomendedbx h2, .recomendedbx h2 a{font-size:16px; color:#275ea8;}
.recomendedbx h2 a:hover{color:#202020; text-decoration:none;}
.recimg img{width:100%; max-width:196px;}
.chooseanother h4{font-size:20px; text-transform:uppercase; font-weight:700; margin-top:50px;}
.leftbar{padding:30px 0px;}
.leftbar .radio, .leftbar .checkbox{margin-bottom:15px; margin-top:0px;}
.radio label, .checkbox label{font-weight:500!important; padding-left:15px;}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 2px solid #ccd2d6;
    border-radius: .25em;
    width: 1.6em;
    height: 1.6em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 0%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.leftbar{
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(241,245,248,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,245,248,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(241,245,248,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(241,245,248,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(241,245,248,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(241,245,248,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f5f8',GradientType=1 ); /* IE6-9 */
border-right:1px solid #e1ebf3;	
}
.prolisting{padding-top:20px;}
.prolisting .prolistbx{padding:15px; border:solid 1px #e6eff5; display:table; width:100%; margin:10px 0px;}
.prolisting .prolistbx .proimg{width:128px; float:left;}
.prolisting .prolistbx .proimg img{width:100%; height:auto;}
.prolisting .prolistbx .prodetail{width:160px;padding:0px 15px; float:left;}
.prolisting .prolistbx .prodetail h1{font-size:16px; color:#3867a4; font-weight:500; margin:0px 0px 5px; line-height:20px;}
.prolisting .prolistbx .pricebx{width:90px; padding:0px 15px; float:left; border-left:solid 1px #e6eff5; border-right:solid 1px #e6eff5; text-align: center;}
.prolisting .prolistbx .prodescription p{font-size:11px; color:#636363; line-height:16px; margin-top:10px;}
.prolisting .prolistbx .pricebx .person div{color:#a6b9d4; font-size:12px; font-weight:500; text-transform:uppercase; padding-bottom:50px; padding-top:5px;}
.prolisting .prolistbx .pricebx .person .single{ background:url(../images/person_icon.png) no-repeat 10px 25px;}
.prolisting .prolistbx .pricebx .person .double{ background:url(../images/person_icon.png) no-repeat -45px 25px;}
.prolisting .prolistbx .pricebx .person .group{ background:url(../images/person_icon.png) no-repeat -99px 25px;}
.prolisting .prolistbx .pricebx .price{font-size:26px; font-weight:bold; color:#5fcb08;}
.prolisting .prolistbx .pricebx .price span{ font-size:11px; color:#a6b9d4; display:block; font-weight:300;}
.prolisting .prolistbx .rentnow{ width:110px; float:right; margin-top:40px;}
.prolisting .prolistbx .rentnow .rentnowbtn{background:#2782d1; color:#fff; font-size:15px; font-weight:400; border-radius:0px; text-shadow: 0px 0px 0px; letter-spacing:0.5px; border:none; padding:8px 12px;}
.prolisting .prolistbx .rentnow .rentnowbtn span{font-size:12px;}
.prolisting .prolistbx .rentnow .rentnowbtn:hover{background:#5fcb08;}
.rightbar{background: rgb(241,245,248); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(241,245,248,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(241,245,248,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(241,245,248,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(241,245,248,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(241,245,248,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(241,245,248,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f5f8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
padding:30px 0px 30px 30px; border-left:1px solid #e1ebf3;
}
.rightbar, .leftbar{min-height:800px;}
.rightbar .addbx{margin-bottom:15px;}
.rightbar .addbx img{width:100%; max-width:210px;}
.prolisting .prolistbx .proimg img{max-width:128px;}
.vendorinformation h1{color:#3262a2; font-size:22px; font-weight:500;}
.vendordetail h2{font-size:18px; font-weight:500;}
.bldtxt{font-size:15px; font-weight:500;}
.vendorinformation{padding-right:30px; padding-top:10px;}
.vendordetail span{line-height:20px;}
.resrvtionprice{background:#e5ecf4; border:solid 1px #cfdbe9; border-radius:2px; padding:15px; text-align:center; margin-top:15px;}
.resrvtionprice span{display:block;}
.resrvtionprice .resrvtxt{font-size:18px; font-weight:400; color:#202020;}
.resrvtionprice .resrvprice{font-size:42px; font-weight:700; color:#ed3333; line-height:50px;}
.resrvtionprice .wlktxt{font-size:16px; font-weight:500; color:#202020; margin-top:10px;}
.resrvtionprice .wlktxt span{display:inline-block; text-decoration:line-through;}
.resrvtionprice .savetxt{color:#1d9f35; font-size:16px; font-weight:500; margin-top:5px}
.largimage{max-width:450px; width:100%; background:#eee;}
.protitle{font-size:24px; color:#3867a4; font-weight:500;}
.imgglry{padding:0px; margin:10px 0px 0px 0px; list-style:none;}
.imgglry li{float:left; max-width:109px; width:23.5%; margin-right:5px;}
.imgglry li img{width:100%; height:auto;}
.prodcst{margin-top:20px; }
.prodcst .rating{margin-bottom:10px;}
.pgesocial{margin-top:20px; display:block;}
.orangebtns{display:inline-block; padding:10px 50px!important; background:#ed3333; border-radius:2px; border-bottom:5px solid #c02323!important; text-align:center; color:#fff; font-size:24px; font-weight:700; width:auto; border:none; margin-top:30px;}
.orangebtns:hover{background:#2782d1; border-radius:2px; border-bottom:5px solid #1560a2!important;}
.largimage img{width:100%; height:auto;}
.steps .pagetitle{padding-left:0px;}
.frmflt{padding:30px 90px 30px 30px!important;}
.loginform .form-group{width:100%;}
.loginform .field{float:none!important;}
.loginform .field.invalid input{background:#fff!important; border:1px solid #e8eff4!important;}
.loginform .buttons .next{margin-top:25px;}
.stepname{font-size:14px;}
.frmflt .frmgrp1 select{width:38%; margin-left:2%;}
.frmflt label{display:block; width:115px; float:left;}
.frmflt input[type='text']{width:78%; margin-left:2%;}
.frmflt .frmgrp2 select{width:78%; margin-left:2%;}
.loginform label{font-weight:500!important;}
.frmgrp3 .dscrption{width:78%; margin-left:2%; float:left;}
.frmgrp3 .dscrption a{display:block; margin-top:5px;}
.frmgrp5 #dp5, .frmgrp6 #dp6{width:78%; float:left; margin-left:2%;}
.frmgrp5 #dp5 input[type='text'], .frmgrp6 #dp6 input[type='text']{width:79%; margin-left:0px;}
.frmgrp5 select, .frmgrp6 select{width:20%;}
.fltright{float:right; margin-right:20px;}
.rentrsdetail table{width:100%; margin-bottom:20px;}
.rentrsdetail table th, .rentrsdetail table td{padding:10px 5px;}
.rentrsdetail table th{background:#f1f5f8; color:#1a64a4; font-weight:400;}
.rentrsdetail table, .rentrsdetail table tr, .rentrsdetail table th, .rentrsdetail table td{border:solid 1px #e4ebf1; border-collapse:collapse; text-align:center; font-size:14px;}

.newrntrfrm .fields1 .form-group{width:48%; margin-right:2%; float:left;}

.bldtxt1{font-size:18px;}
.prflpic{clear:both; margin-bottom:15px; display:block; max-width:156px;}
.profilouter{background: none repeat scroll 0 0 #f1f5f8;
    border: 1px solid #e0ecf5;
    clear: both;
    content: "";
    display: table;
    margin-bottom: 20px;
    padding: 30px;
    width: 100%;
}
.profilinner{padding:0px 20px;}
.table1 tr td{margin-bottom:10px;}
.editpic button{width:152px;}



.proinner{background: none repeat scroll 0 0 #f1f5f8;
    border: 1px solid #e0ecf5;
    clear: both;
    content: "";
    display: table;
    margin-bottom: 20px;
    padding-top: 15px;
	padding-bottom: 15px;
    width: 100%;
}
.proimage img{max-width:180px; width:100%;}
.skilevl h2{font-size:18px;}
.skilevl h2 span{color:#5fcb08;}
.proinfo .protitle{font-size:16px; margin-top:6px;}
.proinfo .prodescription{margin-top:10px;}
.hdetails5 span{color:#ed3333;}
.prodctdescrption .protitle{font-size:18px; margin-top:0px;}
.subtltrow td{border-left:none!important; border-right:none!important;}
.subtltrow .savedtd{color:#ed3333; text-transform:uppercase; font-weight:500;}
.subtltrow .txdetail{text-align:right;}
.formwrap .pagetitle{margin-top:0px;}
.newrntrfrm .fields2 .form-group{float:left; width:17%;}
.newrntrfrm .fields2 .heightgrp{width:38%;}
.newrntrfrm .fields2 .heightgrp label, .newrntrfrm .fields4 .form-group label, .newrntrfrm .fields5 .form-group label{display:block;}
.newrntrfrm .fields2 .heightgrp select{width:46%;}
.newrntrfrm .mrgnrght{margin-right:20px;}
.newrntrfrm  .fields4 .form-group input{width:69%;}
.newrntrfrm  .fields4 .form-group select{width:25%;}
.newrntrfrm  .fields5 select{width:25%;}
.newrntrfrm  .fields5 .package{width:69%;}
.newrntrfrm  .fields5 .form-group .helmet{margin-top:34px;}
.rentrinfo .primryinfo{padding:30px; min-height:960px; display:inline-block;}
.rentrinfo .primryinfo label{width:130px;}
.rentrinfo .primryinfo .form-group input[type="text"], .rentrinfo .primryinfo .form-group input[type="tel"], .rentrinfo .primryinfo .form-group input[type="email"], .rentrinfo .primryinfo .form-group input[type="password"], .rentrinfo .primryinfo .form-group select, .rentrinfo .primryinfo .form-group textarea{width:60%;}
.pymntinfo .smasabv label{width:100%!important;}
.pymntinfo .radiogrp{padding:0px!important;}
.pymntinfo .radiogrp label{width:48%; float:left; clear:none!important; margin-right:5px; font-size:13px;}
.expirydt label{float:left; margin-top:10px;}
.expirydt select{width:29%!important; float:left;}
.expirydt .mrgnrght{margin-right:10px;}
.speclreqstrw .procspymnt{font-size:22px; padding:20px 25px!important; text-transform:uppercase; width:100%; max-width:315px;}
.speclreqstrw .pymntbtn {width:315px;}
.crdwrap img{padding:20px; background:#f4f4f4; border-radius:4px;}
.thnkuwrap{padding:40px; border:solid 1px #dce7ef; text-align:center; margin-bottom:30px;}
.thankupg img{margin-bottom:20px; max-width:333px; width:100%;}
.idealsteps-container{padding-bottom:30px;}


/**************************************************** Media Query *********************************/

@media screen and (max-width: 1025px){
.prolisting .prolistbx .prodetail{width:225px;}
.prolisting .prolistbx .proimg{width:100px;}
.prolisting .prolistbx .rentnow{margin-top:5px; float:left;}
.prolisting .prolistbx .pricebx .person div{padding-top:0px; padding-bottom:48px;}
.newrntrfrm .fields2 .form-group{width:17%;}
.newrntrfrm .fields2 .heightgrp{width:38%;}
.newrntrfrm .fields4 .form-group input, .newrntrfrm .fields5 .package{width:70%;}
.newrntrfrm .mrgnrght, .formwrap .form-group{margin-right:10px;}
.rentrinfo .primryinfo .form-group input[type="text"], .rentrinfo .primryinfo .form-group input[type="tel"], .rentrinfo .primryinfo .form-group input[type="email"], .rentrinfo .primryinfo .form-group input[type="password"], .rentrinfo .primryinfo .form-group select, .rentrinfo .primryinfo .form-group textarea{width:50%;}
form.idealforms .ideal-check, form.idealforms .ideal-radio{margin-right:5px!important;}
.pagetitle{font-size:20px;}
.rentrinfo .primryinfo label{width:120px;}
.pymntinfo .radiogrp label{font-size:12px; width:100%;}
.expirydt select{width:25%!important;}
.rentrinfo .primryinfo{min-height:995px;}
.idealsteps-nav a{padding:0 1em 0 2em!important;}
.idealsteps-nav li.idealsteps-step-active a{padding-right:2em!important;}
.idealsteps-nav li:first-child a{padding-left:1.2em;}

.step2 .frmflt .frmgrp1 select{width:37%;}
.step2 .frmflt .frmgrp2 select, .step2 .frmgrp3 .dscrption, .step2 .frmflt input[type="text"], .step2 .frmgrp5 #dp5, .step2 .frmgrp6 #dp6{width:77%;}


}

@media screen and (max-width: 999px){.skifrwrap{float:left; display:block;}

.rightbar, .leftbar{min-height:1px; background:none; border:none; padding:20px 0px 10px;}
.prolisting{padding-top:0px;}
.prolisting .prolistbx .rentnow{float:left; margin-top:35px; margin-left:25px;}
.prolisting .prolistbx{background:#f1f5f8;}
.prolisting .prolistbx .pricebx{border-color:#dde7ee;} 
.prolisting .prolistbx .prodetail{width:290px;}
.prodctdescrption .row{margin:15px 0px;}
.dsplnon{margin:0px!important;}
.newrntrfrm .fields4 .form-group input, .newrntrfrm .fields5 .package{width:64%!important;}
.newrntrfrm .fields4 .form-group select, .newrntrfrm .fields5 select{width:30%!important;}
.newrntrfrm .fields5 .form-group .helmet{margin-top:25px;}
.rentrinfo .primryinfo .form-group input[type="text"], .rentrinfo .primryinfo .form-group input[type="tel"], .rentrinfo .primryinfo .form-group input[type="email"], .rentrinfo .primryinfo .form-group input[type="password"], .rentrinfo .primryinfo .form-group select, .rentrinfo .primryinfo .form-group textarea{width:65%;}
.crdwrap{padding-bottom:20px;}
.rentrinfo .primryinfo{min-height:1px;}
.step2 .frmflt select{width:100%!important; margin-left:0; margin-bottom:10px;}
.step2 .frmflt label{width:100%;}
.step2 .frmgrp3 .dscrption{width:100%; margin-left:0;}
.step2 .frmgrp5 #dp5, .frmgrp6 #dp6{width:100%;}
.step2 .frmflt select, .step2 .dscrption, .step2 .frmflt input[type="text"], .step2 .frmgrp5 #dp5, .step2 .frmgrp6 #dp6{width:100%!important; margin-left:0px;}
.step2 .cstmbuttons{float:left!important;}


}

@media screen and (max-width: 767px){
.headerright{ text-align:left; padding-top:15px;}
.formwrap .form-group{width:100%;}
.dashboardnav{min-height:1px; padding-top:0px; margin-top:10px;}	
.dashboardnav .navbar{margin-bottom:0px!important;}
.dashboardnav .navbar-collapse{clear:both;}
.dashboardnav .navbar-nav{margin:0px;}
.dashboardnav .navbar-default .navbar-collapse, .dashboardnav .navbar-default .navbar-form{border-color:#2e3134;}
.skibtn{margin:0px 0px 20px!important; max-width:400px;}
.whtsize select{max-width:300px;}
.recomendedbx{ text-align:center; padding:25px;}
.prolisting .prolistbx .rentnow{float:right; margin-top:35px; margin-left:0px;}
.prolisting .prolistbx .prodetail{width:225px;}
.step2 .frmflt{padding:30px!important;}


}

@media screen and (max-width: 599px){
.prolisting .prolistbx .rentnow{float:left; margin:0px;}
.prolisting .prolistbx .prodetail h1{font-size:14px; margin:0px;}
.prolisting .prolistbx .prodetail{width:215px; padding:0px 10px;}
.imgglry li{width:23%;}
.newrntrfrm .fields2 .heightgrp{width:64%;}
.newrntrfrm .fields2 .form-group{width:100%;}
.newrntrfrm .fields1 .form-group{width:100%;}
.newrntrfrm .fields5 .form-group .helmet{margin-top:0px;}


 
}

@media screen and (max-width: 479px){
	.statusbar{text-align:left;}
	.statusbar .btn{margin-top:10px; float:none;}
	.datepickerbox .checkin, .datepickerbox .checkout{width:100%; float:none; margin:0px 0px 5px 0px;}
	.prolisting .prolistbx{text-align:center;}
	.prolisting .prolistbx .proimg{width:100%; float:none; margin:0px auto;}
	.prolisting .prolistbx .prodetail{width:100%; margin-top:10px;}
	.prolisting .prolistbx .pricebx .person div{width:63px; margin:0px auto;}
	.prolisting .prolistbx .pricebx{width:60%; float:none; clear:both; margin:0px auto;}
	.prolisting .prolistbx .rentnow .rentnowbtn{width:100%; padding:12px;}
	.prolisting .prolistbx .rentnow{width:200px; float:none; margin:14px auto;}
	.rentrinfo .primryinfo label{width:100%;}
	.rentrinfo .primryinfo .form-group input[type="text"], .rentrinfo .primryinfo .form-group input[type="tel"], .rentrinfo .primryinfo .form-group input[type="email"], .rentrinfo .primryinfo .form-group input[type="password"], .rentrinfo .primryinfo .form-group select, .rentrinfo .primryinfo .form-group textarea{width:100%;}
	.form-group{margin-bottom:10px;}
	.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{margin-left:0px!important;}
	.rentrinfo .primryinfo label{width:100%;}
	.expirydt select{width:46%!important;}
	.speclreqstrw .pymntbtn{width:100%;}
	.crdwrap img{width:100%; padding:15px;}

}

