@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700|Roboto+Condensed:400,700);
body{margin:0px; padding:0px; font-family: 'Roboto', sans-serif!important; font-size:13px!important; font-weight:400; color:#404040; height:100%;}
.home{background:url(../images/landing_bg.jpg) no-repeat center 0px;}
.toprow{background:#133b71; border-bottom:1px solid #387ad4;}
.signin ul{margin:0px; padding:0px; list-style:none; text-align:right;}
.signin ul li{display:inline-block; padding:5px 10px;}
.signin ul li a{color:#fff;}
.social{padding-top:3px;}
.search{text-align:center; padding-top:100px;}
.search h1{font-family: 'Roboto Condensed', sans-serif; color:#fff; font-size:40px; text-transform:uppercase; font-weight:700; letter-spacing:1px;}
.search input[type='text']{max-width: 600px; width:78%; padding:12px;font-size:16px; border-radius:0px; border:none; height:50px;}
.search-group{max-width:650px; width:100%; margin:0px auto;}
.search .srchbtn{ background:#ffcc00!important; padding:9px 18px; border-radius:0px!important; border:none; position:relative; top:-2px; right:-2px; box-shadow:0 0 0 0!important; height:50px;}
.search .srchbtn:hover{border-color:#ffcc00!important}
.headerwrap{background:#f1f5f8; border-top:solid 3px #2b67bb; border-bottom:solid 1px #e0ecf5; padding-top:25px; padding-bottom:25px;}
.selectdate select{font-size: 14px; max-width: 350px; padding: 11px 12px; width: 80%; border-radius:0px!important;}
.selectdate .srchbtn{ background:#1251a5; color:#fff; text-align:center; padding: 11px 12px; border:none; border-radius:0px!important;}
.headerright{text-align:right;}
.headerright .menu{margin-top:10px;}
.headerright .menu ul li{ float:none; display:inline-block; margin:0px; padding:0px; }
.headerright .menu ul li a{background:none; color:#000; padding:0px; padding:0px 8px 0px 6px; background:url(../images/li-seprator.gif) no-repeat right center;}
.headerright .menu ul li a:hover{color:#1d68a0;}
.headerright .menu ul li:last-child > a{background:none; padding-right:0px;}
.headerright .menu ul li:first-child > a{padding-left:0px;}
.footerwrap{ background:#f1f5f8; border-top:1px solid #e0ecf5; padding-top:15px; padding-bottom:15px; text-align:center; color:#1d68a0;}
.contentdiv{min-height:450px;}
.pagetitle{font-family: 'Roboto', sans-serif; font-size:700; font-size:22px;  margin:25px 0px; letter-spacing:1px; padding:0px 15px;}
.formwrap{padding:30px; background:#f1f5f8; border:1px solid #e0ecf5; width:100%; display:table; content:""; clear:both; margin-bottom:20px;}
label{font-weight:500!important; font-size:14px;}
.formwrap .form-group{width:44%; float:left; margin-right:20px;}
.row_group2 .form-group{width:100%;}
.formwrap .form-group input[type='text'], .formwrap .form-group input[type='email'], .formwrap .form-group input[type='password'], .formwrap .form-group select, .formwrap .form-group textarea{width:100%; height:40px; padding:5px 10px; background:#fff; border:solid 1px #e8eff4; border-radius:0px; box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset; -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset; -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;}
.formwrap .form-group textarea{height:120px;}
.cstmbuttons{ display:inline-block; padding:10px 30px!important; background:#2782d1; border-radius:2px; text-align:center; color:#fff; font-size:18px; font-weight:700; width:auto; border:none; max-width:250px;}
.cstmbuttons:hover{background:#5fcb08; border-radius:2px;}
.contentrwrap{margin-bottom:30px;}
.bluebx  h2{ margin-top:0px; font-size:18px; font-weight:700;}
p{font-size:13px; font-weight:300; line-height:20px;}
.loginpage .contentdiv{margin-top:50px;}
.login .form-group{width:100%;}
.login h1{margin-top:0px; text-align:center;}
.dashboardnav{background:#24272a; width:100%; padding-top:50px; min-height:470px;}
.dashboardnav .navbar-default{background-image:none; box-shadow:0 0 0 0; border-radius:0px; background:none; border:none;}
.dashboardnav .navbar-nav > li{float:none; border-bottom:1px solid #2e3134;}
.dashboardnav .navbar-nav > li > a{padding:15px 20px; text-shadow:0 0 0!important; font-size:14px; color:#bdc7cf!important; letter-spacing:0.5px;}
.dashboardnav .navbar-default .navbar-nav > .open > a, .dashboardnav .navbar-default .navbar-nav > .active > a{background:#000;}
.dashboardnav .navbar-default .navbar-nav > .active > a, .dashboardnav .navbar-default .navbar-nav > .active > a:hover, .dashboardnav .navbar-default .navbar-nav > .active > a:focus, .dashboardnav .navbar-default .navbar-nav > li > a:hover{background:#000;}
.dashboardnav .navbar-header{width:100%;}
.dashboardnav .navbar-collapse{padding:0px;}
.dashboardnav .navbar-nav{width:100%;}
.dashboardnav .glyphicon{font-size:18px; top:3px!important; padding-right:15px; color:#81878d;}
.statusbar{background:#f1f5f8; border:solid 1px #e0ecf5;margin-top:5px;margin-bottom: 5px;padding: 7px;}
.statusbar .welcomegst{margin-right:30px;}
.statusbar .logout{color:#e40000;}
.statusbar .btn{font-size:12px; padding:4px 10px; float:right;}
.statusbar .glyphicon-plus{margin-right:5px;}
.thumbs{display:table; content:""; clear:both; width:100%;}
.statusbar .pagetitle{padding:0px;}
.thumbs .thmb:hover{color:#165ea2; text-decoration:none;}
.thumbs .thmb img{margin-bottom:10px;}
.dashboard .contentrwrap{margin-bottom:0px;}
.thumbs .thmb{display:block; background:#f1f5f8; border:solid 1px #e0ecf5; text-align:center; padding-bottom:13px; padding-top:13px; font-size:14px; font-weight:600; text-transform:uppercase; color:#1f2225; letter-spacing:0.5px;}
.thumbs .tmbbx{margin:10px 0px;}
.visible-xs{text-shadow:0 0 0!important;}
.navbar-default .navbar-toggle{border:none;}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff!important;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background:#c4322e!important;}
.addpro .pagetitle{clear:both; margin-bottom:15px; padding:20px 0px 0px 0px;}
.addproduct .fulbx{width:91%;}
.group-span-filestyle .btn-default{line-height:24px;}
.clearfix{clear:both;}



@media screen and (max-width: 767px){
.headerright{ text-align:left; padding-top:15px;}
.formwrap .form-group{width:100%;}
.dashboardnav{min-height:1px; padding-top:0px; margin-top:10px;}	
.dashboardnav .navbar{margin-bottom:0px!important;}
.dashboardnav .navbar-collapse{clear:both;}
.dashboardnav .navbar-nav{margin:0px;}
.dashboardnav .navbar-default .navbar-collapse, .dashboardnav .navbar-default .navbar-form{border-color:#2e3134;}

}

@media screen and (max-width: 479px){
	.statusbar{text-align:left;}
	.statusbar .btn{margin-top:10px; float:none;}

}

/* CSS Document */

//@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Roboto+Condensed:400,700);
body{margin:0px; padding:0px; font-family: 'Roboto', sans-serif!important; font-size:13px!important; font-weight:400; color:#404040; height:100%;}
.newhome{background:url(../images/landing_bg.jpg) no-repeat center 0px;}
.newtoprow {
  background: #133b71 none repeat scroll 0 0;
  border-bottom: 1px solid #387ad4;
}
.btn.active:focus, .btn:active:focus, .btn:focus{outline:none!important;}
.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default{color:#fff!important;}
.btn-default:active, .btn-primary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-danger:active, .btn-default.active, .btn-primary.active, .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active{box-shadow:0 0 0 none!important;}
.newsearch{min-height:750px;}
.newsignin ul{margin:0px; padding:0px; list-style:none; text-align:right;}
.newsignin ul li{display:inline-block; padding:5px 10px;}
.newsignin ul li a{color:#fff;}
.newsocial{padding-top:3px;}
.newsearch{text-align:center; padding-top:200px;}
.newsearch h1{font-family: 'Roboto Condensed', sans-serif; color:#fff; font-size:40px; text-transform:uppercase; font-weight:700; letter-spacing:1px;}
.newsearch input[type='text']{max-width: 600px; width:78%; padding:12px 20px;font-size:16px; border-radius:0px; border:none; height:50px; border-radius:2px;}
.newsearch-group{max-width:650px; width:100%; margin:0px auto;}
.newsearch .srchbtn{ background:#4fb026!important; padding:9px 14px; font-size:23px; color:#fff;border-radius:2px!important; border:none; position:relative; top:-2px; right:-2px; box-shadow:0 0 0 none!important; height:51px;}
.newsearch .srchbtn:hover{border-color:#ffcc00!important; color:#fff;}
.homsrch{max-width:640px; margin:0px auto;}
.homsrch .newlogo1{max-width:310px; float:left; padding:10px 35px; border-right:1px solid #fff;}
.logotxt{font-size:18px; color:#fff; max-width:340px; float:right; text-align:left; padding:10px 35px;}
.formtopbx{margin-bottom:20px; display:table;}
.newfooterouter{background:#1c1c1c; color:#797979; padding:10px 0px 30px;}
.ftrtitle{color:#797979; text-transform:uppercase; background:url(../images/titlebottom.gif) no-repeat 0px bottom; padding-bottom:10px; font-size:18px; font-weight:300;}
.ftrbxinner{padding-right:50px;}
.newfooterouter p, .newfooterouter a{font-size:13px; color:#797979;}
.ftrlnks{margin:0px; padding:0px; list-style:none;}
.ftrlnks li{margin:0px; background:url(../images/footerarrow.png) no-repeat 0px center; padding-left:15px;}
.ftrlnks li a{font-size:13px; color:#797979;}
.newftrsocial{margin:10px 0px 0px 0px; padding:0px; list-style:none; display:table;}
.newftrsocial li{margin:0px 5px 0px 0px; float:left;}
.newftrsocial li a{width:28px; height:28px; display:block; font-size:0px;}
.newfb > a{background:url(../images/social1.png) no-repeat 0px 0px;}
.newtwtr > a{background:url(../images/social1.png) no-repeat -34px 0px;}
.newlnkdn > a{background:url(../images/social1.png) no-repeat -69px 0px;}
.gpls > a{background:url(../images/social1.png) no-repeat -104px 0px;}
.vendorlginbtn{background:#2782d1; color:#fff!important; padding:10px 15px; display:inline-block; text-align:center; font-size:18px; text-transform:uppercase; clear:both; margin-top:15px; border-radius:2px;}
.vendorlginbtn:hover{background:#5FCB08; text-decoration:none;}
.copyright{background:url(../images/footerlogo.png) no-repeat center top; padding-top:40px; margin-top:50px; text-align:center;}

@media screen and (max-width: 767px){
.homsrch .newlogo1{padding:10px 30px;}
.logotxt{padding:10px 20px;}
.newsearch{padding-top:100px;}
.newsearch{min-height:450px;}
.formtopbx{display:block;}
.homsrch .newlogo1, .logotxt{padding:0px; max-width:100%; float:none; padding:0px; text-align:center; border:none; margin-top:10px;}	
}
.full-field
{
	width:92% !important;
}
.subbtn
{
float: right !important;
    padding-right: 20px;
    text-align: right;
}
.registerckbx
{
    margin-top:10px;
    }
.actbtn{position:relative; z-index:1;}
.opac{opacity:0.3;}

 #ratingdiv{overflow:hidden}
#ratingdiv .undone, #ratingdiv .fade{
background:url("../images/star.gif") -30px 0 no-repeat;
width:28px;
display:block;
height:30px;
float:left;
margin-right:4px;
text-indent:-99999px;
	opacity:4;
}
#ratingdiv .done{
background:url("../images/star.gif") no-repeat;
width:28px;
display:block;
height:30px;
float:left;
margin-right:4px;
text-indent:-99999px
}
#ratingdiv .undone:hover{background-position:0}