.ratings {
            border:     1px solid #CCC;
            overflow:   visible;
            padding:    10px;
            position:   relative;
         
            height:     55px;
        }
.ratings_stars:hover
{
	 background: url('star_overs.png') no-repeat;
}
.ratings_stars {
            background: url('star_blank.png') no-repeat;
            float:      left;
            height:     28px;
            padding:    2px;
            width:      32px;
        }
.ratings_vote {
            background: url('star_voted.png') no-repeat;
            float:      left;
            height:     28px;
            padding:    2px;
            width:      32px;
        }
.ratings_over {
            background: url('star_overs.png') no-repeat;
        }
		
.total_votes {  
    background: #eaeaea;  
    top: 58px;  
    left: 0;  
    padding: 5px;  
    position:   absolute;  
}  
.product{  
    font: 10px verdana, sans-serif;  
    margin: 0 auto 40px auto;  
    width: 180px; 
	height:200px; 
}  