<style type="text/css">
    h1{display: none;}
    body{background-color: #F2F0F1;}
</style>
    <div style="width:100%;text-align:center;margin-top:150px;"><img src="<?php echo $this->webroot;?>img/404.jpg"></div>